.sec-destrezas {
  margin-bottom: 20px;
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    
  }

  li {
    margin: 3px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: $border-color;
    line-height: 20px;
    
  }
}

.art-destrezas {
  margin-bottom: 10px;
}
