.art-experiencia {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 15px;
  grid-template-areas:
    "logo puesto"
    "logo detalles"
    ". descripcion";
  margin-bottom: 12px;
  img {
    grid-area: logo;
    border-radius: 50%;
  }

  h3 {
    grid-area: puesto;
    margin: 0;
  }

  .detalles {
    grid-area: detalles;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  ul {
    grid-area: descripcion;
    margin-top: 5px;
  }
}

@media (max-width: $mobileMaxWidth) {
  .art-experiencia {
    grid-template-columns: 40px auto;
    column-gap: 18px;
    grid-template-areas:
      "logo puesto"
      "logo detalles"
      ". descripcion";
  }
  .detalles {
    flex-direction: column;
  }
}
