@import "../variables";

header {
  display: grid;
  grid-template-areas:
    "profile name"
    "profile buttons";
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 2fr 1fr;
  column-gap: 40px;  

  img {
    grid-area: profile;
    align-self: center;
    width: 220px;
    height: 220px;
    border: 5px solid $dark-purple;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    justify-self: start;
   
  }

  h1 {
    grid-area: name;
    align-self: end;
    min-width: 350px;
    max-width: 400px;
    font-family: costa, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 50px;
    justify-self: end;
  }

  .buttons {
    display: flex;
    grid-area: buttons;
    width: 100%;
    column-gap: 20px;
  }

  a {
    width: 160px;
    height: 40px;
    padding: auto;
    border-width: 1.5px;
    border-style: solid;    
    border-radius: 15px;
    font-family: urw-form, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
  }
}

@media (max-width: $mobileMaxWidth) {
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding: 0;

    img {
      width: 170px;
      height: 170px;
      border-width: 4px;
    }

    h1 {
      align-self: center;
      width: 100%;
      font-size: 2rem;
      line-height: 35px;
      text-align: center;    
    }
  }

  .buttons {
    justify-content: center;
  }
}
