/**
* El layout maneja la ubicación de elementos básicos 
* y el margin y padding que varían según el tamaño de dispositivo.  
*
*
*

*/


@import "../variables";
* {
  box-sizing: border-box;
}

body {
  display: grid;
  
  row-gap: 20px;
  grid-template-areas:
    "header header"
    "intro intro"
    "experiencia aside"
    "educacion aside"
    "footer footer";
    grid-template-columns: 5fr 3fr;
    column-gap: 30px;
}

header {
  grid-area: header;
  width: 100%;
  height: 30vh;
  min-height: 300px;
  padding: 0 25% 0 25%;
  
}

.intro {
  display: flex;
  grid-area: intro;
  
  flex-direction: column;
  justify-content: center;
  padding: 15px 27% 15px 27%;
  text-align: center;
 

  h2 {
    margin: 0;
  }
}

.sec-experiencia {
  grid-area: experiencia;
  margin-left: 18%;
}

.sec-educacion {
  grid-area: educacion;
  margin-left: 18%;
}

.sec-destrezas,
.sec-idiomas {
  grid-area: aside;
  margin-right: 18%;
}

.uoc-footer {
  grid-area: footer;
  height: 5vh;
  margin-top: 1.5rem;
  
  font-size: 0.75rem;
  
  text-align: center;
  
}
@media (max-width: $tabletMaxWidth) {
  header {
    height: 30vh;
    padding: 15px 10%;
    
  }
  .intro {
    padding: 15px 10%;
  }

  .sec-experiencia,
  .sec-educacion {
    margin-left: 10%;
  }

  .sec-destrezas,
  .sec-idiomas {
    margin-right: 10%;
  }
}

@media (max-width: $mobileMaxWidth) {
  body {
    display: flex;
    flex-direction: column;
  }
  .sec-experiencia,
  .sec-educacion {
    margin-right: 5px;
    margin-left: 5px;
    
  }

  .sec-destrezas,
  .sec-idiomas {
    margin-right: 5px;
    margin-left: 5px;
  }
}
